*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body {
    background-color: antiquewhite;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

/*
Font families
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Noto Sans Bamum', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* Globales */

a {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
    font-family: 'Noto Sans Bamum', sans-serif;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}

img {
    max-width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.contenedor-1000 {
    max-width: 100rem;
    margin: 0 auto;
}

/* Go top */
.gotop-container {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 6rem;
    height: 6rem;
    z-index: -1;
}

.gotop-button {
    width: 0rem;
    height: 0rem;
    background-color: #4E4533;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.gotop-button i {
    position: absolute;
    font-size: 2rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color:#ffffff;
    transition: .2s;
}

.show {
    z-index: 10;
}

.show .gotop-button {
    animation: popup .3s ease-in-out;
    width: 6rem;
    height: 6rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);    
}

@keyframes popup {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 8rem;
        height: 8rem;
    }
    100% {
        width: 6rem;
        height: 6rem;
    }
}